asttokens==2.4.0
backcall==0.2.0
Brlapi==0.8.2
cffi==1.14.5
chardet==4.0.0
cmake==3.27.5
cockpit
conda==4.14.0
conda-package-handling==1.7.3
configshell-fb==1.1.28
contourpy==1.1.1
cryptography==36.0.1
cycler==0.12.0
cytoolz==0.11.2
dasbus==1.4
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
distro==1.5.0
docopt==0.6.2
exceptiongroup==1.1.3
executing==1.2.0
file-magic==0.4.0
filelock==3.12.4
fluidsynth==0.2
fonttools==4.43.0
frozendict==1.2
fsspec==2023.9.2
future==0.18.3
gpg==1.15.1
idna==2.10
importlib-metadata==6.8.0
importlib-resources==6.1.0
iotop==0.6
ipython==8.15.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.3.1
jupyter_core==5.3.2
kiwisolver==1.4.5
kmod==0.1
libcomps==0.1.18
lit==17.0.1
llvmlite==0.41.0
lxml==4.6.5
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mido==1.3.0
mir-eval==0.7
mpmath==1.3.0
nest-asyncio==1.5.8
networkx==3.1
nftables==0.1
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
packaging==23.1
pandas==2.1.1
parso==0.8.3
perf==0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pipreqs==0.4.13
platformdirs==3.10.0
ply==3.11
pooch==1.7.0
pretty-midi==0.2.10
prompt-toolkit==3.0.39
psutil==5.8.0
ptyprocess==0.6.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pycairo==1.20.1
pycosat==0.6.3
pycparser==2.20
pyenchant==3.2.0
Pygments==2.16.1
PyGObject==3.40.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-linux-procfs==0.7.0
pytorch-ranger==0.1.1
pytz==2023.3.post1
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.1
requests==2.25.1
rpm==4.16.1.3
rtslib-fb==2.1.75
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
scikit-learn==1.3.1
scipy==1.6.2
seaborn==0.13.0
selinux==3.5
sepolicy==3.5
setools==4.4.3
setroubleshoot
six==1.15.0
sos==4.6.0
soundfile==0.12.1
soxr==0.3.6
stack-data==0.6.2
sympy==1.12
systemd-python==234
targetcli-fb==2.1.53
threadpoolctl==3.2.0
toolz==0.11.2
torch==2.1.0
torch-optimizer==0.3.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.10.1
triton==2.1.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.5
urwid==2.1.2
wcwidth==0.2.6
yarg==0.1.9
zipp==3.17.0